@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Medium';
    src: url('./fonts/OpenSans-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./fonts/OpenSans-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

img {
    max-width: 100%;
    display: block;
}

.conteiner {
    width: 1440px;
    margin: 0 auto;
}

.conteiner2 {
    width: 1244px;
    margin: 0 auto;
}

header {
    height: 600px;
    z-index: 0;
    position: relative;
    margin: 0 auto;
}

.header__poster {
    z-index: -1;
    margin: 0 auto;
    width: 1440px;
    position: absolute;
    left: 0;
    right: 0;
    filter: brightness(65%);

}

.header__page-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 104px 100px 98px;
}

.header__main-link {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.header__main-link a {
    color: #FFF;
    font-size: 24px;
}

form {
    border: 2px solid #D1D5DB;
    padding: 6px 10px;
    width: 525px;
    background: transparent;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    border: none;
    background: transparent;
    width: 480px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    outline: none;
}

::placeholder {
    color: #ffffff;
    font-size: 16px;
}

button[type="submit"] {
    border: none;
    text-transform: uppercase;
    height: 16px;
    background: transparent;
    cursor: pointer;
}

.header__left-bar {
    display: flex;
    gap: 27px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.header__input-link a {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
}

.header__nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.description {
    width: 404px;
    padding-left: 98px;
}

.description__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start;
}

.description__content a {
    color: #FFF;
    font-size: 48px;
    line-height: 56px
}

.description__rating {
    display: flex;
    gap: 34px;
}

.description__rating1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.description__rating2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.description__content p {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.description__btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    padding: 6px 16px;
    margin-bottom: 175px;
    background: #4338CA;
    border: none;
    border-radius: 6px;
    color: #FFF;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}


.film,
.serial,
.cartoon,
.actor {
    margin: 70px 0;
}

.film__name-section,
.serial__name-section,
.cartoon__name-section,
.actor__name-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}


.film h2,
.serial h2,
.cartoon h2 {
    color: #000;
    font-size: 36px;

}

.film__left-bar,
.serial__left-bar,
.cartoon__left-bar,
.actor__left-bar {
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.film__left-bar a,
.serial__left-bar a,
.cartoon__left-bar a,
.actor__left-bar a {
    color: #4338CA;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.film__left-bar img,
.serial__left-bar img,
.cartoon__left-bar img,
.actor__left-bar img {
    width: 20px;
}


.film__name,
.serial__name,
.cartoon__name,
.actor__name {
    padding-top: 70px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.film__name a,
.serial__name a,
.cartoon__name a,
.actor__name p {
    color: #4338CA;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.film__name img,
.serial__name img,
.cartoon__name img,
.actor__name p {
    width: 20px;
    position: absolute;
}


.film__cards,
.serial__cards,
.cartoon__cards,
.actor__cards {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.film__card,
.serial__card,
.cartoon__card,
.actor__card {
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    gap: 12px;

}

.film__poster-box {
    position: relative;
}

.film__card-img,
.serial__card-img {
    height: 370px;
    z-index: 0;
}

.like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 16px;
    bottom: 325px;
    right: 16px;
    left: 204px;
    opacity: 70%;
}

.like-btn img {
    width: 30px;
    height: 30px;
}


.serial__card img,
.cartoon__card img,
.actor__card img {
    height: 370px;
}

.film__card p,
.serial__card p,
.cartoon__card p {
    font-size: 12px;
    color: #9CA3AF;
}

.film__card a,
.serial__card a,
.cartoon__card a,
.actor__card a {
    font-size: 18px;
    color: #111827;
}

.film__rating img,
.serial__rating img,
.cartoon__rating img {
    height: 17px;
}

.film__rating,
.serial__rating,
.cartoon__rating {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: flex-start;
}

.rating1,
.rating2 {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.rating1 p,
.rating2 p {
    color: #111827;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.footer {
    display: flex;
    gap: 36px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 26px;
}

.logo {
    display: flex;
    gap: 48px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    gap: 48px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.links a {
    color: #111827;
    font-size: 18px;
}

.x-page p {
    text-align: center;
    color: #6B7280;
    font-size: 18px;
}


.dropbtn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    width: 48px;
    color: #6B7280;
}


/* Кнопка выпадающего списка */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
    background-color: transparent;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    transition: all 0.5s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: #FFF;
    color: #000;
    max-width: 1000px;
    padding: 30px;
    position: relative;
    transition: all 0.5s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}
.popup video {
    max-width: 850px;
}
.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
body.lock {
    overflow: hidden
}
